/*
Template: Techex - Information & Technology HTML Template
Author: RRDevs
Author URI: https://themeforest.net/user/rrdevs
Description: Information & Technology HTML Template
Version: 1.0
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, img,
ol, ul, li, a, p, h1, h2, h3,
h4, h5, h6, option, legend, label,
table, th, td, tr, article, aside,
caption, figure, footer, header, hgroup,
mark, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

img {
  max-width: 100%;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none !important;
  border: 0;
}

input:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  display: none;
}

input::-webkit-focus-inner {
  border: 0;
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
  /* Firefox */
}

::-moz-placeholder {
  color: #666;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  color: #666;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  color: #666;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  color: #666;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #666;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #666;
}

table {
  border-collapse: collapse;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul, li {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0px;
}

form {
  position: relative;
}

.form-control:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

hr {
  margin: 0;
  padding: 0;
  border-color: #000;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
  position: relative;
}

a,
button {
  position: relative;
}
a:hover, a:focus,
button:hover,
button:focus {
  outline: 0;
  text-decoration: none;
}

input, textarea, button {
  border: 0px;
}

.container {
  width: 100%;
}
@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}

/* ------------------------------------------------------------------
    Template All Variables Defined - Value Change with Your's Need5297E3
 -------------------------------------------------------------------- */
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-MediumItalic.eot");
  src: local("Circular Std Medium Italic"), local("CircularStd-MediumItalic"), url("../fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-MediumItalic.woff2") format("woff2"), url("../fonts/CircularStd-MediumItalic.woff") format("woff"), url("../fonts/CircularStd-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Black.eot");
  src: local("Circular Std Black"), local("CircularStd-Black"), url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Medium.eot");
  src: local("Circular Std Medium"), local("CircularStd-Medium"), url("../fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Bold.eot");
  src: local("Circular Std Bold"), local("CircularStd-Bold"), url("../fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-BlackItalic.eot");
  src: local("Circular Std Black Italic"), local("CircularStd-BlackItalic"), url("../fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-BlackItalic.woff2") format("woff2"), url("../fonts/CircularStd-BlackItalic.woff") format("woff"), url("../fonts/CircularStd-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-BookItalic.eot");
  src: local("Circular Std Book Italic"), local("CircularStd-BookItalic"), url("../fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-BookItalic.woff2") format("woff2"), url("../fonts/CircularStd-BookItalic.woff") format("woff"), url("../fonts/CircularStd-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-BoldItalic.eot");
  src: local("Circular Std Bold Italic"), local("CircularStd-BoldItalic"), url("../fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-BoldItalic.woff2") format("woff2"), url("../fonts/CircularStd-BoldItalic.woff") format("woff"), url("../fonts/CircularStd-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-Book.eot");
  src: local("Circular Std Book"), local("CircularStd-Book"), url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff") format(woff);
}
/* --------------------------------------------
    Template Default Fonts & Fonts Styles
 ---------------------------------------------- */
body {
  font-family: "Circular Std", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  color: #696969;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Circular Std", sans-serif;
  margin: 0px;
  font-weight: 700;
  color: #211e3b;
}

h1 {
  font-size: 42px;
  line-height: 55px;
  letter-spacing: -3px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
h1.fs-lg {
  font-size: 150px;
  line-height: 80%;
}
@media (min-width: 767px) and (max-width: 991px) {
  h1.fs-lg {
    font-size: 42px;
  }
}

h2 {
  font-size: 36px;
  line-height: 130%;
  letter-spacing: -3px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

a {
  font-family: "Circular Std", sans-serif;
  text-decoration: none;
  font-weight: 500;
  outline: none !important;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #211e3b;
}

p {
  margin: 0px;
}

.coverbg {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover !important;
}

.mx-auto {
  margin: 0 auto;
}

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.align-center:before, .align-center:after {
  content: none;
}

.align-center-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.align-center-h:before, .align-center-h:after {
  content: none;
}

.align-center-v {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.align-center-v:before, .align-center-v:after {
  content: none;
}

.align-center-v-b {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.align-center-v-b:before, .align-center-v-b:after {
  content: none;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.justify-content-center:before, .justify-content-center:after {
  content: none;
}

.eq-height {
  display: -webkit-box;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.eq-height:before, .eq-height:after {
  content: none;
}

.containers {
  max-width: 1518px !important;
  padding: 10px 0px;
  margin: 0 auto;
}

@-webkit-keyframes left_to_right {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes left_to_right {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes top_to_bottom {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes top_to_bottom {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes left_to_laptop {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes left_to_laptop {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes prattrn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes prattrn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes line {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes line {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes sercale {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-15px);
    transform: translatey(-15px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
@keyframes sercale {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-15px);
    transform: translatey(-15px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
/* ----------------------------------
  All Aniamtion Styles
 ------------------------------------ */
/* ------------------------------------------------------------------
   Template Default Button, Input Styles - Value Change with Your's Need
 -------------------------------------------------------------------- */
.btnd, .video-btn, .theme-btn {
  line-height: 1;
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.theme-btn {
  color: #FFF;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #086ad7;
  border: 1px solid #086ad7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.theme-btn.theme-2 {
  background-color: #ff5e14;
  border: 1px solid #ff5e14;
  color: #fff;
  border-radius: 50px;
  padding: 22px 40px;
}
.theme-btn.theme-2:hover {
  background-color: #211e3b;
  border: 1px solid #211e3b;
}
.theme-btn.theme-2.white {
  background: #fff;
  -webkit-box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
  color: #211e3b;
  border-color: #fff;
}
.theme-btn.theme-2.white:hover {
  background-color: #211e3b;
  color: #fff;
  border-color: #211e3b;
}
@media (max-width: 767px) {
  .theme-btn {
    padding: 17px 30px;
    font-size: 13px;
  }
}
@media (max-width: 580px) {
  .theme-btn {
    padding: 16px 26px;
  }
}
@media (max-width: 480px) {
  .theme-btn {
    padding: 15px 25px;
  }
}
.theme-btn i {
  margin-left: 10px;
}
.theme-btn.no-fil {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  margin-left: 15px;
}
@media (max-width: 500px) {
  .theme-btn.no-fil {
    margin-left: 0;
  }
}
.theme-btn.no-fil:hover {
  background-color: #086ad7;
  border: 1px solid #086ad7;
}
.theme-btn.black {
  background-color: #000;
  border-color: #000;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  color: #FFF;
}
.theme-btn.black:hover {
  background-color: #086ad7;
  border: 1px solid #086ad7;
}
.theme-btn.minimal-btn {
  color: #211e3b;
  border: 1px solid #b0cff2;
  background: transparent;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}
.theme-btn.minimal-btn:hover {
  background-color: #086ad7;
  border: 1px solid #086ad7;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  color: #FFF;
}
.theme-btn.off-white {
  background-color: #efeff1;
  color: #211e3b;
  border: 1px solid #efeff1;
}
.theme-btn:hover {
  background-color: #000;
  border: 1px solid #000;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  color: #FFF;
}

.video-btn {
  font-size: 16px;
  font-weight: 700;
  color: #086ad7;
}
.video-btn i {
  margin-right: 10px;
}

.video-play-btn .play-video {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #fff;
  color: #086ad7;
  line-height: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  -webkit-animation: playVideo infinite 3s;
          animation: playVideo infinite 3s;
  display: inline-block;
  margin: 0px auto;
  font-size: 18px;
}
@media (max-width: 767px) {
  .video-play-btn .play-video {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
}
.video-play-btn .play-video:hover {
  color: #086ad7;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.video-play-btn .play-text {
  font-weight: 700;
}

.cat-btn {
  font-size: 16px;
  line-height: 1;
  padding: 20px 30px;
  font-weight: 700;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent;
  display: inline-block;
  margin-right: 10px;
  margin-top: 30px;
}
.cat-btn i {
  margin-right: 10px;
}
.cat-btn.color {
  background-color: #00baa3;
  border-color: #00baa3;
  color: #fff;
}
.cat-btn:hover {
  background-color: #00baa3;
  border-color: #00baa3;
  border-style: solid;
  border-width: 2px;
}

.preloader {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999999;
}

.preloader .animation-preloader {
  z-index: 1000;
}

.preloader .animation-preloader .spinner {
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000;
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

.preloader .animation-preloader .txt-loading {
  font: 700 5em "Circular Std", sans-serif, sans-serif;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 500px) {
  .preloader .animation-preloader .txt-loading {
    font-size: 3em;
  }
}

.preloader .animation-preloader .txt-loading .letters-loading {
  color: #086ad7;
  position: relative;
}

.preloader .animation-preloader .txt-loading .letters-loading:before {
  -webkit-animation: letters-loading 4s infinite;
  animation: letters-loading 4s infinite;
  color: #086ad7;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  font-family: "Circular Std", sans-serif;
  position: absolute;
  top: -3px;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.preloader.dark .animation-preloader .spinner {
  border-color: #086ad7;
  border-top-color: #fff;
}

.preloader.dark .animation-preloader .txt-loading .letters-loading {
  color: #086ad7;
}

.preloader.dark .animation-preloader .txt-loading .letters-loading:before {
  color: #086ad7;
}

.preloader p {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #086ad7;
}

.preloader .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 1;
  pointer-events: none;
}

.preloader .loader .row {
  height: 100%;
}

.preloader .loader .loader-section {
  padding: 0px;
}

.preloader .loader .loader-section .bg {
  background-color: #FFF;
  height: 100%;
  left: 0;
  width: 100%;
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.preloader .loader.dark_bg .loader-section .bg {
  background: #efc94c;
}

.preloader.loaded .animation-preloader {
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.preloader.loaded .loader-section .bg {
  width: 0;
  -webkit-transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
  transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes letters-loading {
  0%, 75%, 100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  25%, 50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes letters-loading {
  0%, 75%, 100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  25%, 50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
/* ----------------------------------
    Template Section Styles
 ------------------------------------*/
header {
  width: 100%;
  z-index: 9999;
}
header .logo a {
  display: block;
}
@media (max-width: 425px) {
  header .logo a img {
    max-width: 75%;
  }
}
@media (max-width: 768px) {
  header .logo {
    padding-left: 10px;
  }
}
header.header-5 {
  background-color: #EBF1FF;
  position: relative;
}
header.header-5 .main-menu {
  padding-left: 300px;
}
@media (max-width: 1225px) {
  header.header-5 .main-menu {
    padding-left: 0px;
  }
}
header.header-5 .main-menu ul {
  line-height: 1;
}
header.header-5 .main-menu ul > li {
  display: inline-block;
  line-height: 1;
}
header.header-5 .main-menu ul > li > a {
  font-weight: 400;
  display: inline-block;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1;
  padding: 0px 20px;
  overflow: hidden;
  color: #211E3B;
}
header.header-5 .main-menu ul > li > a i {
  margin-left: 5px;
}
header.header-5 .main-menu ul > li:hover > a {
  color: #086ad7;
}
header.header-5 .main-menu ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
header.header-5 .main-menu ul > li > ul {
  position: absolute;
  top: 100%;
  width: 230px;
  background-color: #086ad7;
  left: 0;
  z-index: 999;
  -webkit-box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
          box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 10px 0px;
}
header.header-5 .main-menu ul > li > ul li {
  display: block;
}
header.header-5 .main-menu ul > li > ul li a {
  display: block;
  color: #fff;
  padding: 12px 25px;
}
header.header-5 .main-menu ul > li > ul li a:hover {
  color: #fff;
}
header.header-5 .main-menu ul > li > ul ul {
  left: 100%;
  top: 0;
}
header.header-5 .top-header {
  background-color: rgba(8, 106, 215, 0.1);
  position: relative;
  z-index: 1;
  padding: 6px 50px;
}
@media (min-width: 1600px) {
  header.header-5 .top-header {
    padding: 6px 255px 6px 255px;
  }
}
@media (max-width: 1199px) {
  header.header-5 .top-header {
    padding: 6px 30px;
  }
}
@media (max-width: 991px) {
  header.header-5 .top-header {
    background: #086ad7;
    padding: 6px 15px;
  }
}
header.header-5 .top-header::before {
  position: absolute;
  content: "";
  height: 100%;
  background: #086ad7;
  width: 714px;
  -webkit-clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
  top: 0;
  left: 0;
}
@media (max-width: 991px) {
  header.header-5 .top-header::before {
    display: none;
  }
}
header.header-5 .top-header .header-cta ul {
  margin: 0;
  padding: 0;
}
header.header-5 .top-header .header-cta ul li {
  display: inline-block;
  padding-right: 25px;
  position: relative;
  margin-right: 25px;
}
header.header-5 .top-header .header-cta ul li::before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.3);
  width: 2px;
  height: 20px;
  right: 0;
}
header.header-5 .top-header .header-cta ul li:last-child::before {
  display: none;
}
header.header-5 .top-header .header-cta ul li a {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}
header.header-5 .top-header .header-cta ul li a i {
  margin-right: 5px;
}
header.header-5 .top-header .header-right-cta {
  color: #5397e3;
}
@media (max-width: 991px) {
  header.header-5 .top-header .header-right-cta {
    color: #fff;
  }
}
header.header-5 .top-header .header-right-cta .social-profile a {
  color: #696969;
  margin-left: 15px;
  font-size: 15px;
}
header.header-5 .top-header .header-right-cta .social-profile a:hover {
  color: #086ad7;
}
@media (max-width: 991px) {
  header.header-5 .top-header .header-right-cta .social-profile a {
    color: #fff;
  }
}
@media (max-width: 375px) {
  header.header-5 .header-btn-cta {
    display: none;
  }
}
header.header-5 .main-header-wraper {
  padding: 0px 50px;
}
@media (min-width: 1600px) {
  header.header-5 .main-header-wraper {
    padding: 0px 255px;
  }
}
@media (max-width: 1199px) {
  header.header-5 .main-header-wraper {
    padding: 15px 30px;
  }
}
@media (max-width: 991px) {
  header.header-5 .main-header-wraper {
    padding: 15px;
  }
}
@media (max-width: 1191px) {
  header.header-5 .main-header-wraper .theme-btn {
    padding: 15px 30px;
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  header.header-5 .main-header-wraper .theme-btn {
    padding: 14px 25px;
    font-size: 12px;
  }
}

.mobile-nav {
  position: fixed;
  right: -380px;
  top: 0;
  width: 320px;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -webkit-transition: right 0.5s ease-in;
  transition: right 0.5s ease-in;
  background-color: #086ad7;
  padding: 20px;
  z-index: 9999;
  -webkit-box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
          box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
  /* Vertical Menu Style */
}
.mobile-nav.show {
  right: 0px;
}
.mobile-nav .close-nav {
  border: 0;
  background: transparent;
  color: #fff;
  border-radius: 30px;
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 10px;
}
.mobile-nav .sidebar-nav {
  margin-top: 30px;
}
.mobile-nav .sidebar-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
}
.mobile-nav .sidebar-nav .metismenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-nav .sidebar-nav .metismenu > li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-nav .sidebar-nav .metismenu a {
  position: relative;
  display: block;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: #fff;
  outline-width: 0;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.mobile-nav .sidebar-nav .metismenu ul a {
  padding: 10px 15px 10px 35px;
  position: relative;
}
.mobile-nav .sidebar-nav .metismenu ul a:hover {
  padding-left: 40px;
}
.mobile-nav .sidebar-nav .metismenu ul a:hover::before {
  background-color: #fff;
}
.mobile-nav .sidebar-nav .metismenu ul a::before {
  position: absolute;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  content: "";
  top: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mobile-nav .sidebar-nav .metismenu ul ul {
  list-style-type: circle !important;
}
.mobile-nav .sidebar-nav .metismenu ul ul a {
  padding: 10px 15px 10px 45px;
}
.mobile-nav .sidebar-nav .metismenu a:hover,
.mobile-nav .sidebar-nav .metismenu a:focus,
.mobile-nav .sidebar-nav .metismenu a:active {
  text-decoration: none;
  color: #f8f9fa;
  background: #086ad7;
}

#hamburger {
  padding-right: 10px;
  color: #211e3b;
  font-size: 36px;
  line-height: 1;
  text-align: right;
  display: none;
}
#hamburger i {
  cursor: pointer;
}
@media (max-width: 767px) {
  #hamburger {
    display: block;
    font-size: 20px;
  }
}

/* ----------------------------------
   Hero Section - Styles
 ------------------------------------ */
.hero-2 {
  background-color: #EBF1FF;
  position: relative;
}
.hero-2 .hero-slider {
  padding-bottom: 350px;
  padding-top: 150px;
  z-index: 1;
  position: relative;
}
@media (max-width: 1600px) {
  .hero-2 .hero-slider {
    padding-bottom: 350px;
  }
}
@media (max-width: 1080px) {
  .hero-2 .hero-slider {
    padding-top: 50px;
    padding-bottom: 85px;
  }
}
.hero-2 .hero-slider .hero-contents {
  position: relative;
  z-index: 10;
}
.hero-2 .hero-slider .hero-contents h2 {
  font-family: "Circular Std", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  margin-bottom: 40px;
  color: #211e3b;
}
@media (max-width: 1600px) {
  .hero-2 .hero-slider .hero-contents h2 {
    font-size: 64px;
  }
}
@media (max-width: 767px) {
  .hero-2 .hero-slider .hero-contents h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 50px;
  }
}
.hero-2 .hero-slider .hero-contents h5 {
  font-family: "Circular Std", sans-serif;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #211E3B;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .hero-2 .hero-slider .hero-contents h5 {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 580px) {
  .hero-2 .hero-slider .hero-contents .text-btns {
    text-align: center;
    margin-top: 35px;
  }
  .hero-2 .hero-slider .hero-contents .text-btns a {
    color: #fff;
  }
}
@media (max-width: 580px) and (max-width: 580px) {
  .hero-2 .hero-slider .hero-contents .text-btns a {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.hero-2 .hero-slider .hero-img {
  display: inline;
}
.hero-2 .hero-slider .hero-img .laptop_larg {
  display: inline;
  position: absolute;
  top: 0%;
  right: -23%;
  z-index: 2;
  -webkit-animation: left_to_right 6s 0.5s ease-in-out infinite;
          animation: left_to_right 6s 0.5s ease-in-out infinite;
}
@media (max-width: 1600px) {
  .hero-2 .hero-slider .hero-img .laptop_larg {
    right: -10%;
  }
}
@media (max-width: 1366px) {
  .hero-2 .hero-slider .hero-img .laptop_larg {
    right: -3%;
    z-index: -1;
    -webkit-animation: top_to_bottom 6s 0.5s ease-in-out infinite;
            animation: top_to_bottom 6s 0.5s ease-in-out infinite;
  }
}
@media (max-width: 1200px) {
  .hero-2 .hero-slider .hero-img .laptop_larg {
    z-index: -1;
  }
}
@media (max-width: 1080px) {
  .hero-2 .hero-slider .hero-img .laptop_larg {
    width: 400px;
    height: auto;
  }
}
@media (max-width: 998px) {
  .hero-2 .hero-slider .hero-img .laptop_larg {
    width: 400px;
    height: auto;
    right: -49%;
  }
}
@media (max-width: 768px) {
  .hero-2 .hero-slider .hero-img .laptop_larg {
    height: auto;
    right: 9%;
  }
}
@media (max-width: 630px) {
  .hero-2 .hero-slider .hero-img .laptop_larg img {
    max-width: 250px;
  }
}
.hero-2 .hero-slider .hero-img .laptop {
  position: absolute;
  top: 80%;
  left: -20%;
  z-index: 1;
  -webkit-animation: left_to_laptop 6s 0.5s ease-in-out infinite;
          animation: left_to_laptop 6s 0.5s ease-in-out infinite;
}
@media (max-width: 1080px) {
  .hero-2 .hero-slider .hero-img .laptop {
    width: 400px;
    height: auto;
    top: 0%;
    left: 0%;
    position: relative !important;
  }
}
@media (max-width: 630px) {
  .hero-2 .hero-slider .hero-img .laptop {
    width: auto;
  }
  .hero-2 .hero-slider .hero-img .laptop img {
    max-width: 250px;
  }
}
.hero-2 .hero-slider .hero-img .tab {
  position: absolute;
  top: 116%;
  right: 12%;
  z-index: 5;
  -webkit-animation: top_to_bottom 4s 0.4s ease-in-out infinite;
          animation: top_to_bottom 4s 0.4s ease-in-out infinite;
}
@media (max-width: 1300px) {
  .hero-2 .hero-slider .hero-img .tab {
    right: 17%;
  }
}
@media (max-width: 1080px) {
  .hero-2 .hero-slider .hero-img .tab {
    position: absolute;
    width: 150px;
    top: 69%;
  }
}
.hero-2 .hero-slider .hero-img .phone {
  position: absolute;
  top: 134%;
  right: -4%;
  z-index: 5;
  -webkit-animation: top_to_bottom 4s 1s ease-in-out infinite;
          animation: top_to_bottom 4s 1s ease-in-out infinite;
}
@media (max-width: 1300px) {
  .hero-2 .hero-slider .hero-img .phone {
    right: 17%;
  }
}
@media (max-width: 1080px) {
  .hero-2 .hero-slider .hero-img .phone {
    position: absolute;
    width: 100px;
    top: 73%;
    right: 13%;
  }
}
.hero-2 .hero-slider .hero-img .pen {
  position: absolute;
  top: 40%;
}
@media (max-width: 1600px) {
  .hero-2 .hero-slider .hero-img {
    right: -23%;
  }
}
@media (max-width: 1080px) {
  .hero-2 .hero-slider .hero-img {
    display: none;
  }
}
.hero-2 .play-icon {
  position: absolute;
  top: 6%;
  right: 18%;
}
.hero-2 .play-icon_2 {
  position: absolute;
  top: 30%;
  left: 10%;
}
.hero-2 .game-icon {
  position: absolute;
  top: 20%;
  left: 10%;
}
.hero-2 .game-icon .sercale {
  -webkit-animation: sercale 5s ease-in infinite;
          animation: sercale 5s ease-in infinite;
}
.hero-2 .game-icon .line {
  -webkit-animation: line 3s ease-in infinite;
          animation: line 3s ease-in infinite;
}
.hero-2 .ellipuse_01 {
  position: absolute;
  bottom: 0;
  left: 0%;
}
.hero-2 .shap_01 {
  position: absolute;
  bottom: 17%;
  left: 5% !important;
  -webkit-animation: top_to_bottom 2.5s ease-in-out infinite;
          animation: top_to_bottom 2.5s ease-in-out infinite;
}
.hero-2 .ellipuse_02 {
  position: absolute;
  bottom: 0;
  right: 0 !important;
}
.hero-2 .shap_02 {
  position: absolute;
  bottom: 17%;
  right: 5% !important;
  -webkit-animation: left_to_right 3s ease-in-out infinite;
          animation: left_to_right 3s ease-in-out infinite;
}
@media (max-width: 1618px) {
  .hero-2 .play-icon, .hero-2 .play-icon_2, .hero-2 .game-icon, .hero-2 .ellipuse_01, .hero-2 .shap_01, .hero-2 .ellipuse_02, .hero-2 .shap_02 {
    display: none !important;
  }
}

.section-title {
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}
.section-title span {
  font-family: "Circular Std", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 81px;
  color: #086ad7;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .section-title span {
    font-size: 40px;
  }
}
.section-title h2 {
  font-family: "Circular Std", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
  color: #211e3b;
  padding-bottom: 15px;
}
@media (max-width: 768px) {
  .section-title h2 {
    font-size: 30px;
  }
}
.section-title p {
  max-width: 595px;
  margin: 0 auto;
  font-family: "Circular Std", sans-serif;
  font-weight: 450;
  font-size: 16px;
  line-height: 28px;
  color: #696969;
}
.section-title .title-bg {
  position: absolute;
  z-index: -1;
  top: 10%;
  left: 5%;
}
@media (max-width: 1170px) {
  .section-title .title-bg {
    left: 22%;
  }
}
@media (max-width: 768px) {
  .section-title .title-bg {
    top: 10%;
    left: 8%;
  }
}
@media (max-width: 576px) {
  .section-title .title-bg {
    top: 0%;
    left: 0%;
  }
}
@media (max-width: 768px) {
  .section-title {
    padding-top: 0px;
    padding-bottom: 30px;
  }
}

.future-wrepper {
  padding: 106px 0px;
}
@media (max-width: 768px) {
  .future-wrepper {
    padding: 50px 0px;
  }
}
.future-wrepper .future-item {
  z-index: 1;
  position: relative;
}
@media (max-width: 768px) {
  .future-wrepper .future-item {
    padding: 25px 0px;
  }
}
.future-wrepper .future-item .icon {
  margin-bottom: 30px;
}
.future-wrepper .future-item .content h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: "Circular Std", sans-serif;
  color: #FFF;
  margin-bottom: 15px;
}
.future-wrepper .future-item .content p {
  max-width: 315px;
  height: auto;
  margin: 0 auto;
  font-weight: 450;
  font-size: 15px;
  line-height: 26px;
  font-family: "Circular Std", sans-serif;
  color: #FFF;
}
.future-wrepper .future-item .vector {
  position: absolute;
  top: -4%;
  left: 40%;
  z-index: -1;
}
@media (max-width: 768px) {
  .future-wrepper .future-item .vector {
    top: 8%;
  }
}

.core-futures {
  padding: 120px 0px;
}
@media (max-width: 768px) {
  .core-futures {
    padding-bottom: 50px;
    padding-top: 0px;
  }
}
.core-futures .section-title {
  padding-bottom: 20px;
  position: relative;
  padding-top: 30px;
  max-width: 594px;
  margin: 0 auto;
}
.core-futures .section-title h2 {
  font-family: "Circular Std", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
  color: #211e3b;
}
@media (max-width: 768px) {
  .core-futures .section-title h2 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .core-futures .section-title h2 {
    line-height: 50px;
  }
}
@media (max-width: 768px) {
  .core-futures .section-title {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.core-futures .section-shap_1, .core-futures .section-shap_2 {
  position: absolute;
  bottom: -200%;
  left: 37%;
}
@media (max-width: 768px) {
  .core-futures .section-shap_1, .core-futures .section-shap_2 {
    display: none;
  }
}
.core-futures .section-shap_2 {
  bottom: -190%;
  left: 0%;
}
@media (max-width: 768px) {
  .core-futures .section-shap_2 {
    display: none;
  }
}
.core-futures .core-item {
  margin-top: 30px;
  border-radius: 5px;
  max-height: 280px;
}
.core-futures .core-item .icon {
  padding-top: 80px;
}
.core-futures .core-item .icon img {
  height: 79px;
  margin: auto;
}
.core-futures .core-item .content {
  padding-top: 25px;
  padding-bottom: 80px;
}

.ready-demo, .demo {
  position: relative;
}
.ready-demo .demo-wrapper, .demo .demo-wrapper {
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .ready-demo .demo-wrapper, .demo .demo-wrapper {
    margin-bottom: 50px;
  }
}
.ready-demo .demo-wrapper .demo-thumb, .demo .demo-wrapper .demo-thumb {
  height: 550px;
  background-position: top;
  -webkit-transition: all 4s;
  transition: all 4s;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: #EFF5FC 0px 8px 24px;
          box-shadow: #EFF5FC 0px 8px 24px;
}
.ready-demo .demo-wrapper .demo-thumb .content .again, .demo .demo-wrapper .demo-thumb .content .again {
  font-family: "Circular Std", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFF;
}
.ready-demo .demo-wrapper .demo-thumb .content .time-wepper, .demo .demo-wrapper .demo-thumb .content .time-wepper {
  margin-top: 30px;
  -webkit-box-shadow: 0px 4px 10px rgba(33, 30, 59, 0.76), inset 0px -2px 4px rgba(70, 144, 226, 0.1), inset 0px 1px 2px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 4px 10px rgba(33, 30, 59, 0.76), inset 0px -2px 4px rgba(70, 144, 226, 0.1), inset 0px 1px 2px rgba(255, 255, 255, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #211e3b;
  padding: 20px 40px;
  border-radius: 5px;
}
@media (max-width: 1160px) {
  .ready-demo .demo-wrapper .demo-thumb .content .time-wepper, .demo .demo-wrapper .demo-thumb .content .time-wepper {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .ready-demo .demo-wrapper .demo-thumb .content .time-wepper, .demo .demo-wrapper .demo-thumb .content .time-wepper {
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .ready-demo .demo-wrapper .demo-thumb .content .time-wepper, .demo .demo-wrapper .demo-thumb .content .time-wepper {
    padding: 20px 40px;
  }
}
.ready-demo .demo-wrapper .demo-thumb .content .time-wepper span, .demo .demo-wrapper .demo-thumb .content .time-wepper span {
  font-family: "Roboto" !important;
  border-radius: 5px;
  padding: 0px 10px;
  font-family: "Circular Std", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFF;
}
@media (max-width: 768px) {
  .ready-demo .demo-wrapper .demo-thumb .content .time-wepper span, .demo .demo-wrapper .demo-thumb .content .time-wepper span {
    padding: 0px 5px;
  }
}
.ready-demo .demo-wrapper .demo-thumb .content .time-wepper .day h4, .ready-demo .demo-wrapper .demo-thumb .content .time-wepper .hours h4, .ready-demo .demo-wrapper .demo-thumb .content .time-wepper .munite h4, .ready-demo .demo-wrapper .demo-thumb .content .time-wepper .secend h4, .demo .demo-wrapper .demo-thumb .content .time-wepper .day h4, .demo .demo-wrapper .demo-thumb .content .time-wepper .hours h4, .demo .demo-wrapper .demo-thumb .content .time-wepper .munite h4, .demo .demo-wrapper .demo-thumb .content .time-wepper .secend h4 {
  padding-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFF;
}
.ready-demo .demo-wrapper .demo-thumb:hover, .demo .demo-wrapper .demo-thumb:hover {
  background-position: bottom;
}
.ready-demo .demo-wrapper .demo-thumb > a, .demo .demo-wrapper .demo-thumb > a {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.ready-demo .demo-wrapper .demo-thumb > a span, .demo .demo-wrapper .demo-thumb > a span {
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px 40px;
  background: rgb(255, 255, 255);
  color: #086ad7;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  width: 215px;
  right: 0;
  margin: auto;
  border-radius: 4px;
  z-index: 5;
}
.ready-demo .demo-wrapper .demo-thumb > a::before, .demo .demo-wrapper .demo-thumb > a::before {
  border: 1px solid #fff;
  padding: 50px;
  background: rgba(8, 106, 215, 0.7);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  border-radius: 5px;
}
.ready-demo .demo-wrapper .demo-thumb:hover a span, .demo .demo-wrapper .demo-thumb:hover a span {
  opacity: 1;
  visibility: visible;
}
.ready-demo .demo-wrapper .demo-thumb:hover a::before, .demo .demo-wrapper .demo-thumb:hover a::before {
  opacity: 1;
}
.ready-demo .demo-wrapper .demo-comming, .demo .demo-wrapper .demo-comming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.ready-demo .demo-wrapper .demo-comming .content, .demo .demo-wrapper .demo-comming .content {
  z-index: 100;
}
.ready-demo .demo-wrapper .demo-comming::before, .demo .demo-wrapper .demo-comming::before {
  background: rgba(33, 30, 59, 0.9);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  border-radius: 5px;
}
.ready-demo .demo-wrapper .demo-comeing, .demo .demo-wrapper .demo-comeing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.ready-demo .demo-wrapper .demo-comeing .content, .demo .demo-wrapper .demo-comeing .content {
  z-index: 100;
}
.ready-demo .demo-wrapper .demo-comeing::before, .demo .demo-wrapper .demo-comeing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  border-radius: 5px;
}
.ready-demo .demo-wrapper .demo-title, .demo .demo-wrapper .demo-title {
  margin-top: 40px;
}
.ready-demo .demo-wrapper .demo-title h3, .demo .demo-wrapper .demo-title h3 {
  font-family: "Circular Std", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
@media (max-width: 768px) {
  .ready-demo .demo-wrapper .demo-title, .demo .demo-wrapper .demo-title {
    margin-top: 20px;
  }
}
.ready-demo .prattrn_1, .demo .prattrn_1 {
  position: absolute;
  top: 8%;
  left: 5%;
  -webkit-animation: prattrn 6s 0.6s ease-in-out infinite;
          animation: prattrn 6s 0.6s ease-in-out infinite;
}
@media (max-width: 1080px) {
  .ready-demo .prattrn_1, .demo .prattrn_1 {
    display: none;
  }
}
.ready-demo .prattrn_2, .demo .prattrn_2 {
  position: absolute;
  top: 8%;
  right: 5% !important;
  -webkit-animation: prattrn 6s 0.6s ease-in-out infinite;
          animation: prattrn 6s 0.6s ease-in-out infinite;
}
@media (max-width: 1080px) {
  .ready-demo .prattrn_2, .demo .prattrn_2 {
    display: none;
  }
}

.footer-wrep {
  background-color: #302E49;
}
.footer-wrep .footer-widgete {
  z-index: 1;
  position: relative;
  padding: 145px 0px;
}
@media (max-width: 768px) {
  .footer-wrep .footer-widgete {
    padding: 50px 0px;
  }
}
.footer-wrep .footer-widgete .content {
  position: relative;
}
.footer-wrep .footer-widgete .content .icon {
  margin-bottom: 20px;
}
.footer-wrep .footer-widgete .content .footer-text {
  max-width: 1086px;
  margin: 0 auto;
}
.footer-wrep .footer-widgete .content .footer-text h1 {
  font-family: "Circular Std", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  text-transform: uppercase;
  color: #FFF;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .footer-wrep .footer-widgete .content .footer-text h1 {
    font-size: 30px;
    line-height: 50px;
  }
}
.footer-wrep .footer-widgete .content .footer-text p {
  font-family: "Circular Std", sans-serif;
  font-weight: 450;
  font-size: 18px;
  line-height: 28px;
  color: #FFF;
}
.footer-wrep .footer-widgete .content .fotter-btns {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .footer-wrep .footer-widgete .content .fotter-btns {
    margin-top: 30px;
  }
}
.footer-wrep .footer-widgete .content .section-shap_1, .footer-wrep .footer-widgete .content .section-shap_2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: auto;
  width: 300px;
}
@media (max-width: 768px) {
  .footer-wrep .footer-widgete .content .section-shap_1, .footer-wrep .footer-widgete .content .section-shap_2 {
    display: none;
  }
}
.footer-wrep .footer-widgete .content .section-shap_2 {
  left: 0 !important;
}